@model NetProcalc23Feb.Domain.Entities.ProcedureDef
<h2>Procedure: @Model.Name</h2>
<dl class="row">
    <dt class="col-sm-2">Type</dt><dd class="col-sm-10">@Model.Type</dd>
    <dt class="col-sm-2">Route</dt><dd class="col-sm-10">@Model.Route</dd>
</dl>
<p>This page is a placeholder. To reach full parity, wire specific Controllers/Pages to the procedure names discovered from Clarion and implement business rules in Application layer services.</p>
