@model IEnumerable<NetProcalc23Feb.Domain.Entities.ProcedureDef>
<h2>Procedures</h2>
<table class="table table-striped">
    <thead><tr><th>Name</th><th>Type</th><th>Route</th></tr></thead>
    <tbody>
        @foreach (var p in Model)
        {
            <tr>
                <td><a href="/procedures/@p.Name">@p.Name</a></td>
                <td>@p.Type</td>
                <td>@p.Route</td>
            </tr>
        }
    </tbody>
</table>
