@{ Layout = "~/Views/Shared/_Layout.cshtml"; }
<div class="p-3">
  <h2>NetProcalc23Feb</h2>
  <p>Clean Architecture ASP.NET Core 8.1 rewrite of Clarion ProCalc.</p>
  <ul>
    <li><a href="/Parties">Parties</a></li>
    <li><a href="/Cases">Cases</a></li>
    <li><a href="/Calculators">Calculators</a></li>
  </ul>
</div>
