@{ Layout = "~/Views/Shared/_Layout.cshtml"; }
<h3>Calculators</h3>
<ul>
  <li><a href="/Calculators/ChildSupport">Child Support (General / Adjustment)</a></li>
  <li><a href="/Calculators/Frequency">Calculate Semi-monthly / Biweekly / Weekly</a></li>
  <li><a href="/Calculators/Amortizer">Obligation Amortizer</a></li>
</ul>
