@model NetProcalc23Feb.Domain.Entities.Party
<h2>New Party</h2>
<form method="post">
  <div class="mb-3"><label class="form-label">First Name</label><input asp-for="FirstName" class="form-control" /></div>
  <div class="mb-3"><label class="form-label">Last Name</label><input asp-for="LastName" class="form-control" /></div>
  <div class="mb-3"><label class="form-label">Role</label><input asp-for="Role" class="form-control" /></div>
  <button class="btn btn-success" type="submit">Create</button>
</form>